.app{
    display: flex;
    flex-direction: column;
   height: calc(100vh - 60px);
   background-color: #eeeff8;

    .main-page{
        display: flex;
        flex: 12;
        overflow-y: scroll;
        position: sticky;
    }
    .footer{
        display: flex;
        flex: 0.8;
        justify-content: center;
        align-items: center;
        color: grey;
        width: 100%;
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    width: 8px
}
::-webkit-scrollbar-track {
    background-color: #d1d1d1;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(92, 92, 92,0.5);
}