.imageContainer{
    display: flex;
}

/* Pagination-Override color property */
.page-item.active .page-link {
    background-color: rgba(74, 91, 150,0.2) !important;
    border-color: #263055 !important;
  }
  .page-link {
    color: #263055 !important;
  }
  .page-link:hover {
    color: #263055 !important;
  }
  

  